body {
    background-color: white;
}

.container {
    display: flex;
    background-color: rgb(127, 232, 232);
}

h2 {
    color: white;
}

p {
    color: white;
}

img {
    max-width: 100%; 
    height: 30px;
    display: block; 
    margin: 0 auto;
}

.left-side {
    flex: 1;
    background-color: rgb(177, 234, 241);
    padding: 20px;
    height: 800px;
}

.right-side {
    background-color: black;
    flex: 1; 
    padding: 20px;
    border-left: 1px solid #ccc; 
    height: 800px;
}   

.stack-container {
    width: 40%;
    margin: auto;
    height: 400px; 
    border: 1px solid #000;
    overflow: hidden;
    background-color: rgb(227, 202, 149);
}

.buttons {
    margin: auto;
    margin-bottom: 30px;
    width: 152px;
    display: flex;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: yellow;
    color: green
}

#vijeth:hover{
    background-color: green;
}

#confirmPush:hover{
    background-color: green;
}

button:hover {
    background-color: lightgreen;
    color: white;
}

.stack-item {
    width: 100%; 
    height: 50px; 
    background-color: #ccc; 
    border: 1px solid #000;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 0; 
    border-color: orange;
}

@keyframes push {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

@keyframes pop {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.push-animation {
    animation: push 1s ease;
}

.pop-animation {
    animation: pop 1s ease;
}

#total-amortized-cost {
    color: white;
}

#amortized-cost {
    color: white;
}

#inputField {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}



/* h2 {
    color: white;
}

p {
    color: white;
} */

.animation-container {
    display: none;
    /* animation-duration: 5s; */
    transition: all 1s ease;
  }
  
  .animation-container.show-animation {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  
  .animation-container p {
    margin: 5px 0;
  }

  .animation-running .formula-values {
    /* Define your style changes here */
    border: 2px solid red; /* Example: Red border */
    padding: 10px; /* Example: Increased padding */
    color: crimson;
  }
  .animation-container.show-animation {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  .enlarge.temp p {
    font-size: 1.2em; /* Example: Increase font size */
    font-weight: bold; /* Example: Make text bold */
    /* Add any other styles to enlarge the <p> tags */
  }


  .split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}